.active{
    text-decoration: none;
    color:black ;
    font-size: 25px;
    
}

.default{
    text-decoration: none;
    color:#707B7C  ;
    font-size: 25px;

}

HTML SCSSResult Skip Results Iframe
EDIT ON
a {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background: black ;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

a:hover {
 background-position: 0;
 font-weight: bold;

}

a:hover::before{
  width: 100%;
}




